# datasets
data/*

!data/readme.md
!data/TabFormer/raw/readme.md

# checkpoint
.ipynb_checkpoints
notebooks/.ipynb_checkpoints
src/.ipynb_checkpoints

# cache
__pycache__

# json
notebooks/*.json
# --- MLOps platform ---
.venv/
.env
*.egg-info/
data/interim/
data/processed/
data/graph/
data/models/
mlruns/
.dvc/cache
.dvc/tmp
